<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{{ url_for('static',filename='css/test.css') }}">
    <title>My Bank</title>
</head>
<body>
    <div class="main">
        <input type="checkbox" id="deposit-checkbox" class="toggle-checkbox">
        <input type="checkbox" id="withdraw-checkbox" class="toggle-checkbox">
        
        <div class="buttons">
            <label for="deposit-checkbox" class="toggle-label">Deposit</label>
            <label for="withdraw-checkbox" class="toggle-label">Withdraw</label>
        </div>

        <div class="forms">
            <form id="deposit-form" action="{{ url_for('deposit') }}" method="post">
                <!-- Deposit form content -->
                <input type="number" id="deposit" name="deposit" min="1" max="10000" required><br>
                <button type="submit" {% if account_approved %}disabled{% endif %}>Deposit</button><br>
            </form>

            <form id="withdraw-form" action="{{ url_for('withdraw') }}" method="post">
                <!-- Withdraw form content -->
                <input type="number" id="withdraw" name="withdraw" min="1" max="100000" required><br>
                <button type="submit" {% if account_approved %}disabled{% endif %}>Withdraw</button><br>
            </form>
        </div>
    </div>

    <h1>Email Addresses</h1>
    <ul>
        {% for row in data %}
            <li>{{ row[0] }}</li>
        {% endfor %}
    </ul>
    <br>
    <ul>
        {% for row in data %}
            <li>
                {{ row[0] }}
                <form method="POST" action="{{ url_for('delete_record') }}">
                    <input type="hidden" name="email" value="{{ row[0] }}">
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
